@charset "UTF-8";

:root {
    --primary-color: #3498db;
    --secondary-color: #333;
    --white: #f4f4f4;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    transition: background-color 0.4s, color 0.4s ease;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.4s ease;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode .form-container {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode input[type="password"] {
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
}

button.btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

body.dark-mode {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

body.light-mode {
    background-color: var(--white);
    color: var(--secondary-color);
}

body.dark-mode button:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
    transition: background-color 0.3s, opacity 0.3s;
}

body.light-mode button:hover {
    background-color: var(--secondary-color);
    opacity: 0.8;
    transition: background-color 0.3s, opacity 0.3s;
}

body.light-mode h1 {
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
        2px 2px 4px rgba(0, 0, 0, 0.05);
}

body.dark-mode h1 {
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
}

.dark-mode button {
    background-color: var(--primary-color);
    color: var(--white);
}

.light-mode button {
    background-color: var(--secondary-color);
    color: var(--white);
}